div.resultTable {
  overflow-y: scroll;
  width: 630px;
  height: 296px;
  margin-left: 54px;
  margin-bottom: 24px;
  border-bottom: 1px solid #535353;

  table {
    border: none;
    border-collapse: separate;
  }

  th {
    position: sticky;
    top: 0;
  }

  tbody td:nth-child(1n+2) {
    width: 80px;
    text-align: right;
  }

  tr:last-child td {
    border-bottom: none;
    border-collapse: separate;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #d4d4d4;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #949494;
      border-radius: 100px;
  }
}

// override
table.common_tb thead tr th {
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-right: none;
}

.title_folder_type {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

div.folder_board_tb {
  height: auto;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
  padding: 0;

  div.title_folder_type {
    position: static;
    top: 0px;
    left: 0px;

    ul {
      margin-top: 0;
    }
  }
}

#contents > div.maincont > div {
  > div:nth-child(3) > div > img:nth-child(2) {
    margin-left: -48px;
  }
  > div:nth-child(5) > div > img:nth-child(1) {
    margin-right: -48px;
  }

  > div:nth-child(3) > div > img:nth-child(2),
  > div:nth-child(5) > div > img:nth-child(1) {
    margin-bottom: 4px;
    width: 25%;
    height: 25%;
  }
}
